<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>


        <input placeholder="Location" value="{{address}}">
        <button>Search</button>


        <p id="message-1">{{location}}</p>
        <p id="message-2">{{forecast}}</p>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>